body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
h1 {
    font-size: 9.0vw;
    font-family: 'Cardo', serif;
}
#container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffe3c7;
    flex-direction: column;
}
.child {
    flex: auto;
    display: flex;
    align-items: center;
}
#top-left {
    margin-right: auto;
    animation: 1s slide-left;
}
#top-left h1 {
    color: #7c979e;
}
#mid-right {
    margin-right: 0;
    margin-left: auto;
    animation: 1.7s slide-right;
}
#mid-right h1 {
    color: #95bfa0;
}
#bot-right {
    margin-right: auto;
    animation: 5s fade-in;
}
#bot-right h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vw;
    color: #434f7b;
}
/* specify our CSS animations below */
@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
