body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
h1 {
    font-size: 13vmin;
    font-family: 'Cardo', serif;
    word-wrap: nowrap;
}
img {
    max-height: 100%;
    max-width: 50%;
    margin-left: auto;
}
#container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #ffe3c7;
}
.child {
    display: flex;
    align-items: center;
    height: 33.3%;
}
#top-left {
    margin-right: auto;
    animation: 1s slide-left;
}
#top-left h1 {
    color: #7c979e;
    max-height: 100%;
    max-width: 50%;
}
#mid-right {
    margin-right: 0;
    margin-left: auto;
    animation: 1.7s slide-right;
}
#mid-right h1 {
    color: #95bfa0;
}
#bot-right {
    animation: 5s fade-in;
    justify-content: space-between;
    align-items: center;
}
#bot-right h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6vmin;
    color: #434f7b;
}
.link-icon {
    width: 20%;
    float: right;
    margin-right: 4vw;
    opacity: 0.6;
    transition: 1.3s;
}
.link-icon:hover {
    transform: scale(1.3);
    opacity: 1;
}
/* specify our CSS animations below */
@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
